<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*"
                 modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform
            processPath="D:\home\python27\python.exe"
            arguments="-m twisted web -p tcp:%HTTP_PLATFORM_PORT% --class=app.resource"
            requestTimeout="00:01:00"
            startupTimeLimit="10"
            startupRetryCount="1"
            processesPerApplication="1"
            stdoutLogEnabled="true"
            stdoutLogFile="D:\home\LogFiles\python.log"
            >
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
                <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>